# Project 1


–ü—Ä–µ–¥—Å—Ç–∞–≤—å—Ç–µ, —á—Ç–æ –≤—ã —Ä–∞–±–æ—Ç–∞–µ—Ç–µ –≤ –∫–æ–º–ø–∞–Ω–∏–∏, –∫–æ—Ç–æ—Ä–∞—è —Ä–∞–∑—Ä–∞–±–∞—Ç—ã–≤–∞–µ—Ç –º–æ–±–∏–ª—å–Ω—ã–µ –∏–≥—Ä—ã. 
–ö –≤–∞–º –ø—Ä–∏—à–µ–ª –º–µ–Ω–µ–¥–∂–µ—Ä —Å —Ä—è–¥–æ–º –∑–∞–¥–∞—á –ø–æ –∏—Å—Å–ª–µ–¥–æ–≤–∞–Ω–∏—é –Ω–µ—Å–∫–æ–ª—å–∫–∏—Ö –∞—Å–ø–µ–∫—Ç–æ–≤ –º–æ–±–∏–ª—å–Ω–æ–≥–æ –ø—Ä–∏–ª–æ–∂–µ–Ω–∏—è:

–í –ø–µ—Ä–≤—É—é –æ—á–µ—Ä–µ–¥—å, –µ–≥–æ –∏–Ω—Ç–µ—Ä–µ—Å—É–µ—Ç –ø–æ–∫–∞–∑–∞—Ç–µ–ª—å retention. –ù–∞–ø–∏—à–∏—Ç–µ —Ñ—É–Ω–∫—Ü–∏—é –¥–ª—è –µ–≥–æ –ø–æ–¥—Å—á–µ—Ç–∞. 

–ü–æ–º–∏–º–æ —ç—Ç–æ–≥–æ, –≤ –∫–æ–º–ø–∞–Ω–∏–∏ –ø—Ä–æ–≤–µ–ª–∏ A/B —Ç–µ—Å—Ç–∏—Ä–æ–≤–∞–Ω–∏–µ –Ω–∞–±–æ—Ä–æ–≤ –∞–∫—Ü–∏–æ–Ω–Ω—ã—Ö –ø—Ä–µ–¥–ª–æ–∂–µ–Ω–∏–π. –ù–∞ –æ—Å–Ω–æ–≤–µ –∏–º–µ—é—â–∏—Ö—Å—è –¥–∞–Ω–Ω—ã—Ö –æ–ø—Ä–µ–¥–µ–ª–∏—Ç–µ, –∫–∞–∫–æ–π –Ω–∞–±–æ—Ä –º–æ–∂–Ω–æ —Å—á–∏—Ç–∞—Ç—å –ª—É—á—à–∏–º –∏ –Ω–∞ –æ—Å–Ω–æ–≤–µ –∫–∞–∫–∏—Ö –º–µ—Ç—Ä–∏–∫ —Å—Ç–æ–∏—Ç –ø—Ä–∏–Ω—è—Ç—å –ø—Ä–∞–≤–∏–ª—å–Ω–æ–µ —Ä–µ—à–µ–Ω–∏–µ. 

–ü—Ä–µ–¥–ª–æ–∂–∏—Ç–µ –º–µ—Ç—Ä–∏–∫–∏ –¥–ª—è –æ—Ü–µ–Ω–∫–∏ —Ä–µ–∑—É–ª—å—Ç–∞—Ç–æ–≤ –ø–æ—Å–ª–µ–¥–Ω–µ–≥–æ –ø—Ä–æ—à–µ–¥—à–µ–≥–æ —Ç–µ–º–∞—Ç–∏—á–µ—Å–∫–æ–≥–æ —Å–æ–±—ã—Ç–∏—è –≤ –∏–≥—Ä–µ.

### –ó–∞–¥–∞–Ω–∏–µ 1

Retention ‚Äì –æ–¥–∏–Ω –∏–∑ —Å–∞–º—ã—Ö –≤–∞–∂–Ω—ã—Ö –ø–æ–∫–∞–∑–∞—Ç–µ–ª–µ–π –≤ –∫–æ–º–ø–∞–Ω–∏–∏. –í–∞—à–∞ –∑–∞–¥–∞—á–∞ ‚Äì –Ω–∞–ø–∏—Å–∞—Ç—å —Ñ—É–Ω–∫—Ü–∏—é, –∫–æ—Ç–æ—Ä–∞—è –±—É–¥–µ—Ç —Å—á–∏—Ç–∞—Ç—å retention –∏–≥—Ä–æ–∫–æ–≤ (–ø–æ –¥–Ω—è–º –æ—Ç –¥–∞—Ç—ã —Ä–µ–≥–∏—Å—Ç—Ä–∞—Ü–∏–∏ –∏–≥—Ä–æ–∫–∞). –î–∞–Ω–Ω—ã–µ –ª–µ–∂–∞—Ç –≤ –ø–∞–ø–∫–µ shared –∏ –∏–º–µ—é—Ç —Å–ª–µ–¥—É—é—â—É—é —Å—Ç—Ä—É–∫—Ç—É—Ä—É:


shared/problem1-reg_data.csv ‚Äì –¥–∞–Ω–Ω—ã–µ –æ –≤—Ä–µ–º–µ–Ω–∏ —Ä–µ–≥–∏—Å—Ç—Ä–∞—Ü–∏–∏

reg_ts	uid
906166566	2
906344325	2
906686169	2
906893386	2
906980227	2

shared/problem1-auth_data.csv ‚Äì –¥–∞–Ω–Ω—ã–µ –æ –≤—Ä–µ–º–µ–Ω–∏ –∑–∞—Ö–æ–¥–∞ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π –≤ –∏–≥—Ä—É

auth_ts	uid
906166566	2
924422172	3
937374732	4
947425117	5
955630339	6

–§—É–Ω–∫—Ü–∏—è –¥–æ–ª–∂–Ω–∞ –±—ã—Ç—å –Ω–∞–ø–∏—Å–∞–Ω–∞ –Ω–∞ python. –í —Ö–æ–¥–µ —Ä–µ—à–µ–Ω–∏—è –º–æ–∂–Ω–æ —Ç–µ—Å—Ç–∏—Ä–æ–≤–∞—Ç—å —Ä–∞–±–æ—Ç—É —Ñ—É–Ω–∫—Ü–∏–∏ –∫–∞–∫ –Ω–∞ –ø–æ–ª–Ω–æ–º –¥–∞—Ç–∞—Å–µ—Ç–µ, —Ç–∞–∫ –∏ –Ω–∞ —á–∞—Å—Ç–∏ (—Å—ç–º–ø–ª–µ) –¥–∞–Ω–Ω—ã—Ö.

In [ ]:
import numpy as np
import pandas as pd
import scipy.stats as st
import pingouin as pg
from scipy.stats import chi2_contingency, chi2 

import seaborn as sns
import plotly.express as px
import matplotlib.pyplot as plt

from operator import attrgetter
from matplotlib import colors as mcolors

In [ ]:
#–û—Ç–∫—Ä—ã–≤–∞–µ–º –ø–µ—Ä–≤—ã–π —Ñ–∞–π–ª
df1 = pd.read_csv('~/shared/problem1-reg_data.csv', sep=';')
df1

In [ ]:
#–û—Ç–∫—Ä—ã–≤–∞–µ–º –≤—Ç–æ—Ä–æ–π —Ñ–∞–π–ª
df2 = pd.read_csv('~/shared/problem1-auth_data.csv', sep=';')
df2

In [ ]:
#–°–æ–µ–¥–∏–Ω–∏–º –≤—Å–µ —Ç–∞–±–ª–∏—Ü—ã –≤ –æ–¥–Ω—É
df = df2.merge(df1, how='left', on='uid')
df.info()

In [ ]:
#–ü–µ—Ä–µ–≤–æ–¥–∏–º –≤—Ä–µ–º—è —Ä–µ–≥–∏—Å—Ç—Ä–∞—Ü–∏–∏ –∏ –≤—Ä–µ–º—è –∑–∞—Ö–æ–¥–∞ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π –≤ –∏–≥—Ä—É –≤ —Ñ–æ—Ä–º–∞—Ç datetime64 
df['auth_ts'] = pd.to_datetime(df['auth_ts'], unit='s')
df['reg_ts'] = pd.to_datetime(df['reg_ts'], unit='s')

In [ ]:
#–ò–∑–≤–ª–µ–∫–∞–µ–º –¥–µ–Ω—å –∏–∑ –≤—Ä–µ–º–µ–Ω–∏ —Ä–µ–≥–∏—Å—Ç—Ä–∞—Ü–∏–∏ –∏ –≤—Ä–µ–º–µ–Ω–∏ –∑–∞—Ö–æ–¥–∞ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π –≤ –∏–≥—Ä—É
df ['reg_date'] = df['reg_ts'].dt.to_period('D')
df ['auth_date'] = df['auth_ts'].dt.to_period('D')

In [ ]:
#–°–æ–∑–¥–∞–µ–º –æ—Ç–¥–µ–ª—å–Ω—É—é –∫–æ–ª–æ–Ω–∫—É —Å –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ–º –¥–Ω–µ–π –æ—Ç –≤—Ä–µ–º–µ–Ω–∏ —Ä–µ–≥–∏—Å—Ç—Ä–∞—Ü–∏–∏
df['number_days'] = ((df.auth_date - df.reg_date)/ np.timedelta64(1, 'D'))

In [ ]:
#–ê–≥—Ä–µ–≥–∏—Ä—É–µ–º –¥–∞–Ω–Ω—ã–µ –ø–æ –∫–æ–≥–æ—Ä—Ç–∞–º –∏ —Ä–∞—Å—Å—á–∏—Ç–∞–Ω–Ω–æ–º—É –∫–æ–ª–∏—á–µ—Å—Ç–≤—É –¥–Ω–µ–π –æ—Ç –≤—Ä–µ–º–µ–Ω–∏ —Ä–µ–≥–∏—Å—Ç—Ä–∞—Ü–∏–∏
df_cohort = df.groupby(['reg_date', 'number_days']).agg({'uid':'nunique'}).reset_index()

In [ ]:
#–°–æ–∑–¥–∞–µ–º —Å–≤–æ–¥–Ω—É—é —Ç–∞–±–ª–∏—Ü—É –¥–ª—è –∫–æ–≥–æ—Ä—Ç–Ω–æ–≥–æ –∞–Ω–∞–ª–∏–∑–∞ 
cohort_pivot = df_cohort.pivot_table(index='reg_date', columns = 'number_days', values = 'uid')

In [ ]:
#–†–∞—Å—Å—á–∏—Ç—ã–≤–∞–µ–º —Ä–∞–∑–º–µ—Ä—ã –∫–æ–≥–æ—Ä—Ç (–ø–µ—Ä–≤—ã–π —Å—Ç–æ–ª–±–µ—Ü —Å–≤–æ–¥–Ω–æ–π —Ç–∞–±–ª–∏—Ü—ã)
cohort_size = cohort_pivot.iloc[:,0]

In [ ]:
#–í—ã—á–∏—Å–ª—è–µ–º –∫–æ—ç—Ñ—Ñ–∏—Ü–∏–µ–Ω—Ç—ã —É–¥–µ—Ä–∂–∞–Ω–∏—è, –¥–µ–ª—è –Ω–∞ —Ä–∞–∑–º–µ—Ä –∫–æ–≥–æ—Ä—Ç—ã
retention_matrix = cohort_pivot.divide(cohort_size, axis =0)
retention_matrix

In [ ]:
with sns.axes_style("white"):
    fig, ax=plt.subplots(1,2, figsize=(16,12),sharey=True, gridspec_kw={'width_ratios':[1,11]})
    #–¢–µ–ø–ª–æ–≤–∞—è –∫–∞—Ä—Ç–∞ –¥–ª—è –∫–æ—ç—ç—Ñ–∏—Ü–∏–µ–Ω—Ç–æ–≤ —É–¥–µ—Ä–∂–∞–Ω–∏—è
    sns.heatmap(retention_matrix,
               mask=retention_matrix.isnull(),
               annot=True,
               fmt='.0%',
               cmap='RdYlGn',
               ax=ax[1])
    ax[1].set_title('Daily Retention', fontsize=16)
    ax[1].set(xlabel='–ö–æ–ª–∏—á–µ—Å—Ç–≤–æ –¥–Ω–µ–π –ø–æ—Å–ª–µ —Ä–µ–≥–∏—Å—Ç—Ä–∞—Ü–∏–∏ ', ylabel='–î–∞—Ç–∞ —Ä–µ–≥–∏—Å—Ç—Ä–∞—Ü–∏–∏')
    #–¢–µ–ø–ª–æ–≤–∞—è –∫–∞—Ä—Ç–∞ –¥–ª—è —Ä–∞–∑–º–µ—Ä–æ–≤ –∫–æ–≥–æ—Ä—Ç
    cohort_size_df = pd.DataFrame(cohort_size).rename(columns={0:'cohort_size'})
    white_cmap=mcolors.ListedColormap(['white'])
    sns.heatmap(cohort_size_df,
               annot=True,
               cbar= False,
               fmt='g',
               cmap=white_cmap,
               ax=ax[0])
    fig.tight_layout()
    plt.show()

In [ ]:
#–°–æ–∑–¥–∞–µ–º —Ñ—É–Ω–∫—Ü–∏—é
def retention(df1, df2, Beginning, End):
    df = df2.merge(df1, how='left', on='uid')
    Beginning = pd.to_datetime(Beginning, unit='s').dt.to_period('D')
    End = pd.to_datetime(End, unit='s').dt.to_period('D')
    df ['reg_date'] = df['reg_ts'].dt.to_period('D')
    df ['auth_date'] = df['auth_ts'].dt.to_period('D')
    #–î–æ–±–∞–≤–∏–º —É—Å–ª–æ–≤–∏–µ, —á—Ç–æ–±—ã –º—ã –º–æ–≥–ª–∏ –∏—Å–ø–æ–ª—å–∑–æ–≤–∞—Ç—å —Ñ—É–Ω–∫—Ü–∏—é –Ω–∞ —á–∞—Å—Ç–∏ –¥–∞–Ω–Ω—ã—Ö 
    df = df.query('reg_ts >= Beginning and auth_ts <= End')
    df['number_days'] = ((df.auth_date - df.reg_date)/ np.timedelta64(1, 'D'))
    df_cohort = df.groupby(['reg_date', 'number_days']).agg({'uid':'nunique'}).reset_index()\
    .pivot_table(index='reg_date', columns = 'number_days', values = 'uid')
    cohort_size = cohort_pivot.iloc[:,0]
    retention_matrix = cohort_pivot.divide(cohort_size, axis =0)
    with sns.axes_style("white"):
        fig, ax=plt.subplots(1,2, figsize=(16,12),sharey=True, gridspec_kw={'width_ratios':[1,11]})
    #–¢–µ–ø–ª–æ–≤–∞—è –∫–∞—Ä—Ç–∞ –¥–ª—è –∫–æ—ç—ç—Ñ–∏—Ü–∏–µ–Ω—Ç–æ–≤ —É–¥–µ—Ä–∂–∞–Ω–∏—è
        sns.heatmap(retention_matrix,
               mask=retention_matrix.isnull(),
               annot=True,
               fmt='.0%',
               cmap='RdYlGn',
               ax=ax[1])
        ax[1].set_title('Daily Retention', fontsize=16)
        ax[1].set(xlabel='–ö–æ–ª–∏—á–µ—Å—Ç–≤–æ –¥–Ω–µ–π –ø–æ—Å–ª–µ —Ä–µ–≥–∏—Å—Ç—Ä–∞—Ü–∏–∏ ', ylabel='–î–∞—Ç–∞ —Ä–µ–≥–∏—Å—Ç—Ä–∞—Ü–∏–∏')
    #–¢–µ–ø–ª–æ–≤–∞—è –∫–∞—Ä—Ç–∞ –¥–ª—è —Ä–∞–∑–º–µ—Ä–æ–≤ –∫–æ–≥–æ—Ä—Ç
        cohort_size_df = pd.DataFrame(cohort_size).rename(columns={0:'cohort_size'})
        white_cmap=mcolors.ListedColormap(['white'])
        sns.heatmap(cohort_size_df,
               annot=True,
               cbar= False,
               fmt='g',
               cmap=white_cmap,
               ax=ax[0])
        fig.tight_layout()
        plt.show()
    return sns.axes_style("white")

# –ó–∞–¥–∞–Ω–∏–µ 2

–ò–º–µ—é—Ç—Å—è —Ä–µ–∑—É–ª—å—Ç–∞—Ç—ã A/B —Ç–µ—Å—Ç–∞, –≤ –∫–æ—Ç–æ—Ä–æ–º –¥–≤—É–º –≥—Ä—É–ø–ø–∞–º –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π –ø—Ä–µ–¥–ª–∞–≥–∞–ª–∏—Å—å —Ä–∞–∑–ª–∏—á–Ω—ã–µ –Ω–∞–±–æ—Ä—ã –∞–∫—Ü–∏–æ–Ω–Ω—ã—Ö –ø—Ä–µ–¥–ª–æ–∂–µ–Ω–∏–π. –ò–∑–≤–µ—Å—Ç–Ω–æ, —á—Ç–æ ARPU –≤ —Ç–µ—Å—Ç–æ–≤–æ–π –≥—Ä—É–ø–ø–µ –≤—ã—à–µ –Ω–∞ 5%, —á–µ–º –≤ –∫–æ–Ω—Ç—Ä–æ–ª—å–Ω–æ–π. –ü—Ä–∏ —ç—Ç–æ–º –≤ –∫–æ–Ω—Ç—Ä–æ–ª—å–Ω–æ–π –≥—Ä—É–ø–ø–µ 1928 –∏–≥—Ä–æ–∫–æ–≤ –∏–∑ 202103 –æ–∫–∞–∑–∞–ª–∏—Å—å –ø–ª–∞—Ç—è—â–∏–º–∏, –∞ –≤ —Ç–µ—Å—Ç–æ–≤–æ–π ‚Äì 1805 –∏–∑ 202667.

–ö–∞–∫–æ–π –Ω–∞–±–æ—Ä –ø—Ä–µ–¥–ª–æ–∂–µ–Ω–∏–π –º–æ–∂–Ω–æ —Å—á–∏—Ç–∞—Ç—å –ª—É—á—à–∏–º? –ö–∞–∫–∏–µ –º–µ—Ç—Ä–∏–∫–∏ —Å—Ç–æ–∏—Ç –ø—Ä–æ–∞–Ω–∞–ª–∏–∑–∏—Ä–æ–≤–∞—Ç—å –¥–ª—è –ø—Ä–∏–Ω—è—Ç–∏—è –ø—Ä–∞–≤–∏–ª—å–Ω–æ–≥–æ —Ä–µ—à–µ–Ω–∏—è –∏ –∫–∞–∫?

In [2]:
#–û—Ç–∫—Ä—ã–≤–∞–µ–º —Ñ–∞–π–ª 
df = pd.read_csv('–ü—Ä–æ–µ–∫—Ç_1_–ó–∞–¥–∞–Ω–∏–µ_2.csv', sep=';')
df

/opt/tljh/user/lib/python3.7/site-packages/outdated/utils.py:18: OutdatedCacheFailedWarning: Failed to use cache while checking for outdated package.
Set the environment variable OUTDATED_RAISE_EXCEPTION=1 for a full traceback.
Set the environment variable OUTDATED_IGNORE=1 to disable these warnings.
  **kwargs
/opt/tljh/user/lib/python3.7/site-packages/outdated/utils.py:18: OutdatedPackageWarning: The package outdated is out of date. Your version is 0.2.1, the latest is 0.2.2.
Set the environment variable OUTDATED_IGNORE=1 to disable these warnings.
  **kwargs

        user_id  revenue testgroup
0             1        0         b
1             2        0         a
2             3        0         a
3             4        0         b
4             5        0         b
...         ...      ...       ...
404765   404766        0         a
404766   404767        0         b
404767   404768      231         a
404768   404769        0         a
404769   404770        0         b

[404770 rows x 3 columns]

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 404770 entries, 0 to 404769
Data columns (total 3 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   user_id    404770 non-null  int64
 1   revenue    404770 non-null  int64
 2   testgroup  404770 non-null  object
dtypes: int64(2), object(1)
memory usage: 9.3+ MB

In [5]:
df.nunique()

user_id      404770
revenue        1477
testgroup         2
dtype: int64

In [6]:
df.describe()

/opt/tljh/user/lib/python3.7/site-packages/outdated/utils.py:18: OutdatedCacheFailedWarning: Failed to use cache while checking for outdated package.
Set the environment variable OUTDATED_RAISE_EXCEPTION=1 for a full traceback.
Set the environment variable OUTDATED_IGNORE=1 to disable these warnings.
  **kwargs
/opt/tljh/user/lib/python3.7/site-packages/outdated/utils.py:18: OutdatedPackageWarning: The package pingouin is out of date. Your version is 0.4.0, the latest is 0.5.5.
Set the environment variable OUTDATED_IGNORE=1 to disable these warnings.
  **kwargs

             user_id        revenue
count  404770.000000  404770.000000
mean   202385.500000      26.083435
std    116847.178567     681.652928
min         1.000000       0.000000
25%    101193.250000       0.000000
50%    202385.500000       0.000000
75%    303577.750000       0.000000
max    404770.000000   37433.000000

In [7]:
#–í—ã—Å—á–∏—Ç—ã–≤–∞–µ–º –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –ø–ª–∞—Ç—è—â–∏—Ö –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π –¥–ª—è –∫–∞–∂–¥–æ–π –≥—Ä—É–ø–ø—ã
paying_users = df.query('revenue!=0').groupby(['testgroup']).agg(paying_users =('user_id','count'))
paying_users

           paying_users
testgroup
a                  1928
b                  1805

–°–æ–∑–¥–∞–µ–º –æ—Ç–¥–µ–ª—å–Ω—É—é —Ç–∞–±–ª–∏—Ü—É —Å –ø–æ–∫–∞–∑–∞—Ç–µ–ª—è–º–∏ –æ—Ç–¥–µ–ª—å–Ω–æ –¥–ª—è –∫–∞–∂–¥–æ–π –≥—Ä—É–ø–ø—ã. –†–∞—Å—Å—á–∏—Ç—ã–≤–∞–µ–º:

–°—Ä–µ–¥–Ω–∏–π —á–µ–∫(ARPU) 

–ö–æ–ª–∏—á–µ—Å—Ç–≤–æ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π(user_id) 

–ö–æ–ª–∏—á–µ—Å—Ç–≤–æ –ø–ª–∞—Ç—è—â–∏—Ö –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π(paying_users) 

–î–æ—Ö–æ–¥(revenue)

–°—Ä–µ–¥–Ω–∏–π —á–µ–∫ –ø–æ –ø–ª–∞—Ç—è—â–µ–º—É –∫–ª–∏–µ–Ω—Ç—É(ARPPU)

–ö–æ–Ω–≤–µ—Ä—Å–∏—è –≤ –ø–ª–∞—Ç—è—â–∏—Ö –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π(CR)

In [8]:
value = df.groupby(['testgroup']).agg({'revenue': 'sum', 'user_id':'count'}).reset_index()
value ['ARPPU'] = value['revenue']/value['user_id']
value ['ARPPU'] = value ['ARPPU'].round(2)
value = value.merge(paying_users, on='testgroup', how='right')
value ['ARPU'] = value['revenue']/value['paying_users']
value ['ARPU'] = value ['ARPU'].round(2)
value ['CR'] = (value['paying_users']/value['user_id'])*100
value

  testgroup  revenue  user_id  ARPPU  paying_users     ARPU        CR
0         a  5136189   202103  25.41          1928  2664.00  0.953969
1         b  5421603   202667  26.75          1805  3003.66  0.890624

–ü–æ —É—Å–ª–æ–≤–∏—é: –≤ –∫–æ–Ω—Ç—Ä–æ–ª—å–Ω–æ–π –≥—Ä—É–ø–ø–µ 1928 –∏–≥—Ä–æ–∫–æ–≤ –∏–∑ 202103 –æ–∫–∞–∑–∞–ª–∏—Å—å –ø–ª–∞—Ç—è—â–∏–º–∏, –∞ –≤ —Ç–µ—Å—Ç–æ–≤–æ–π ‚Äì 1805 –∏–∑ 202667.

–ó–Ω–∞—á–∏—Ç, –∞ - –∫–æ–Ω—Ç—Ä–æ–ª—å–Ω–∞—è –≥—Ä—É–ø–ø–∞, b - —Ç–µ—Å—Ç–æ–≤–∞—è –≥—Ä—É–ø–ø–∞.

–¢–∞–∫–∂–µ –≤–∏–¥–∏–º, —á—Ç–æ –ø–æ–∫–∞–∑–∞—Ç–µ–ª–∏ ARPPU –∏ ARPU –∏ –¥–æ—Ö–æ–¥ –±–æ–ª—å—à–µ –≤ —Ç–µ—Å—Ç–æ–≤–æ–π –≥—Ä—É–ø–ø–µ, –Ω–æ –ø—Ä–∏ —ç—Ç–æ–º –∫–æ–Ω–≤–µ—Ä—Å–∏—è –∏ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –ø–ª–∞—Ç—è—â–∏—Ö –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π –±–æ–ª—å—à–µ –≤ –∫–æ–Ω—Ç—Ä–æ–ª—å–Ω–æ–π –≥—Ä—É–ø–ø–µ.

In [14]:
#–°–æ–∑–¥–∞–µ–º –æ—Ç–¥–µ–ª—å–Ω—ã–π —Å—Ç–æ–ª–±–µ—Ü —Å –ø–æ–∫–∞–∑–∞—Ç–µ–ª–µ–º ARPU –∏ —Å–æ–≤–µ—Ä—à–∏–ª –ª–∏ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—å –ø–ª–∞—Ç–µ–∂ –∏–ª–∏ –Ω–µ—Ç
df ['ARPU'] = (df['revenue']/df['user_id']).round(2)
df['Payment'] = df.revenue.apply(lambda x: x > 0)
df.head()

   user_id  revenue testgroup  ARPPU  Payment  ARPU
0        1        0         b    0.0    False   0.0
1        2        0         a    0.0    False   0.0
2        3        0         a    0.0    False   0.0
3        4        0         b    0.0    False   0.0
4        5        0         b    0.0    False   0.0

In [15]:
#–°–æ–∑–¥–∞–µ–º –¥–ª—è –∫–∞–∂–¥–æ–π –≥—Ä—É–ø–ø—ã –æ—Ç–¥–µ–ª—å–Ω—É—é —Ç–∞–±–ª–∏—Ü—É –¥–ª—è —É–¥–æ–±—Å—Ç–≤–∞
df_a = df.query('testgroup=="a"')
df_b = df.query('testgroup=="b"')

–ü—Ä–æ–≤–µ—Ä–∏–º –≥–∏–ø–æ—Ç–µ–∑—É –æ –≤–∑–∞–∏–º–æ—Å–≤—è–∑–∏ –º–µ—Ç—Ä–∏–∫–∏ ARPU –º–µ–∂–¥—É —Ç–µ—Å—Ç–æ–≤–æ–π –∏ –∫–æ–Ω—Ç—Ä–æ–ª—å–Ω–æ–π –≥—Ä—É–ø–ø–æ–π. 

ùêª0 : –≤–∑–∞–∏–º–æ—Å–≤—è–∑–∏ –º–µ–∂–¥—É –ø–µ—Ä–µ–º–µ–Ω–Ω—ã–º–∏ –Ω–µ—Ç

ùêª1 : –≤–∑–∞–∏–º–æ—Å–≤—è–∑—å –µ—Å—Ç—å

–î–ª—è —ç—Ç–æ–≥–æ –ø—Ä–æ–≤–µ—Ä–∏–º —è–≤–ª—è–µ—Ç—Å—è –ª–∏ —Ä–∞—Å–ø—Ä–µ–¥–µ–ª–µ–Ω–∏–µ –ø–µ—Ä–µ–º–µ–Ω–Ω–æ–π ARPU –Ω–æ—Ä–º–∞–ª—å–Ω–æ–π.

In [23]:
# –ü—Ä–æ–≤–µ—Ä–∏–º –Ω–æ—Ä–º–∞–ª—å–Ω–æ—Å—Ç—å —Ä–∞—Å–ø—Ä–µ–¥–µ–ª–µ–Ω–∏—è –ø–æ –®–∞–ø–∏—Ä–æ
pg.normality(data=df, dv="ARPU", group="testgroup")

/opt/tljh/user/lib/python3.7/site-packages/scipy/stats/morestats.py:1760: UserWarning:

p-value may not be accurate for N > 5000.

/opt/tljh/user/lib/python3.7/site-packages/scipy/stats/morestats.py:1760: UserWarning:

p-value may not be accurate for N > 5000.

          W  pval  normal
b  0.001494   0.0   False
a  0.000320   0.0   False

In [24]:
# –ø–æ –∞–ª—å—Ç–µ—Ä–Ω–∞—Ç–∏–≤–Ω–æ–º—É —Ç–µ—Å—Ç—É
pg.normality(data=df, dv="ARPU", group="testgroup", method="normaltest")

              W  pval  normal
b  1.094790e+06   0.0   False
a  1.218559e+06   0.0   False

–¢–∞–∫ –∫–∞–∫ —Ä–∞—Å–ø—Ä–µ–¥–µ–ª–µ–Ω–∏–µ –Ω–µ —è–≤–ª—è–µ—Ç—Å—è –Ω–æ—Ä–º–∞–ª—å–Ω—ã–º, –Ω–æ –ø—Ä–∏ —ç—Ç–æ–º –≤—ã–±–æ—Ä–∫–∞ –æ—á–µ–Ω—å –±–æ–ª—å—à–∞—è –¥–ª—è –ø—Ä–æ–≤–µ—Ä–∫–∏ –≥–∏–ø–æ—Ç–µ–∑—ã –º–æ–∂–Ω–æ –≤–æ—Å–ø–æ–ª—å–∑–æ–≤–∞—Ç—å—Å—è t-–∫—Ä–∏—Ç–µ—Ä–∏–µ–º —Å –ø–æ–ø—Ä–∞–≤–∫–æ–π –£—ç–ª—á–∞.

In [16]:
st.ttest_ind(df_a.ARPU, df_b.ARPU, equal_var=False)

Ttest_indResult(statistic=0.3806473258449373, pvalue=0.7034652932290848)

–ü—Ä–æ–≤–µ—Ä–∏–º –≥–∏–ø–æ—Ç–µ–∑—É –æ –≤–∑–∞–∏–º–æ—Å–≤—è–∑–∏ –∫–æ–Ω–≤–µ—Ä—Å–∏–∏ –≤ –ø–ª–∞—Ç—è—â–∏—Ö –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π (CR) –º–µ–∂–¥—É —Ç–µ—Å—Ç–æ–≤–æ–π –∏ –∫–æ–Ω—Ç—Ä–æ–ª—å–Ω–æ–π –≥—Ä—É–ø–ø–æ–π. –ü—Ä–æ–≤–µ—Ä–∫–∞ –Ω–∞ –Ω–æ—Ä–º–∞–ª—å–Ω–æ—Å—Ç—å –Ω–µ —Ç—Ä–µ–±—É–µ—Ç—Å—è, —Ç.–∫. –ø—Ä–æ–≤–µ—Ä—è—é—Ç—Å—è –∫–∞—Ç–µ–≥–æ—Ä–∏–∞–ª—å–Ω—ã–µ –ø–µ—Ä–µ–º–µ–Ω–Ω—ã–µ.

–¢–∞–∫ –∫–∞–∫ –ø–µ—Ä–µ–º–µ–Ω–Ω–∞—è –∫–∞—Ç–µ–≥–æ—Ä–∏–∞–ª—å–Ω–∞—è –≤–æ—Å–ø–æ–ª—å–∑—É–µ–º—Å—è –º–µ—Ç–æ–¥–æ–º –•–∏-–∫–≤–∞–¥—Ä–∞—Ç.

ùêª0 : –≤–∑–∞–∏–º–æ—Å–≤—è–∑–∏ –º–µ–∂–¥—É –ø–µ—Ä–µ–º–µ–Ω–Ω—ã–º–∏ –Ω–µ—Ç

ùêª1 : –≤–∑–∞–∏–º–æ—Å–≤—è–∑—å –µ—Å—Ç—å

In [19]:
stat, p, dof, expected = chi2_contingency(pd.crosstab(df.Payment, df.testgroup))

In [20]:
stat, p

(4.374729521260405, 0.03647561892312613)

In [22]:
prob = 0.95
critical = chi2.ppf(prob, dof)
if abs(stat) >= critical:
    print('–û—Ç–∫–ª–æ–Ω—è–µ–º H0')
else:
    print('–ù–µ –æ—Ç–∫–ª–æ–Ω—è–µ–º H0')

–û—Ç–∫–ª–æ–Ω—è–µ–º H0

# –í—ã–≤–æ–¥—ã

1. –¢–∞–∫ –∫–∞–∫ p-value > 0.05 –ù—É–ª–µ–≤—É—é –≥–∏–ø–æ—Ç–µ–∑—É –º–æ–∂–Ω–æ –ø—Ä–∏–Ω—è—Ç—å. –ß—Ç–æ –æ–∑–Ω–∞—á–∞–µ—Ç, —á—Ç–æ –≤–∑–∞–∏–º–æ—Å–≤—è–∑–∏ –º–µ—Ç—Ä–∏–∫–∏ ARPU –º–µ–∂–¥—É —Ç–µ—Å—Ç–æ–≤–æ–π –∏ –∫–æ–Ω—Ç—Ä–æ–ª—å–Ω–æ–π –≥—Ä—É–ø–ø–æ–π –Ω–µ—Ç.
2. –ü–æ—Å–∫–æ–ª—å–∫—É –º—ã –æ—Ç–∫–ª–æ–Ω–∏–ª–∏ –Ω—É–ª–µ–≤—É—é –≥–∏–ø–æ—Ç–µ–∑—É –º–æ–∂–Ω–æ –ø—Ä–µ–¥–ø–æ–ª–æ–∂–∏—Ç—å, —á—Ç–æ –≤–∑–∞–∏–º–æ—Å–≤—è–∑—å –∫–æ–Ω–≤–µ—Ä—Å–∏–∏ –≤ –ø–ª–∞—Ç—è—â–∏—Ö –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π (CR –º–µ–∂–¥—É —Ç–µ—Å—Ç–æ–≤–æ–π –∏ –∫–æ–Ω—Ç—Ä–æ–ª—å–Ω–æ–π –≥—Ä—É–ø–ø–æ–π –µ—Å—Ç—å.

# –ó–∞–¥–∞–Ω–∏–µ 3

–í –∏–≥—Ä–µ Plants & Gardens –∫–∞–∂–¥—ã–π –º–µ—Å—è—Ü –ø—Ä–æ–≤–æ–¥—è—Ç—Å—è —Ç–µ–º–∞—Ç–∏—á–µ—Å–∫–∏–µ —Å–æ–±—ã—Ç–∏—è, –æ–≥—Ä–∞–Ω–∏—á–µ–Ω–Ω—ã–µ –ø–æ –≤—Ä–µ–º–µ–Ω–∏. –í –Ω–∏—Ö –∏–≥—Ä–æ–∫–∏ –º–æ–≥—É—Ç –ø–æ–ª—É—á–∏—Ç—å —É–Ω–∏–∫–∞–ª—å–Ω—ã–µ –ø—Ä–µ–¥–º–µ—Ç—ã –¥–ª—è —Å–∞–¥–∞ –∏ –ø–µ—Ä—Å–æ–Ω–∞–∂–µ–π, –¥–æ–ø–æ–ª–Ω–∏—Ç–µ–ª—å–Ω—ã–µ –º–æ–Ω–µ—Ç—ã –∏–ª–∏ –±–æ–Ω—É—Å—ã. –î–ª—è –ø–æ–ª—É—á–µ–Ω–∏—è –Ω–∞–≥—Ä–∞–¥—ã —Ç—Ä–µ–±—É–µ—Ç—Å—è –ø—Ä–æ–π—Ç–∏ —Ä—è–¥ —É—Ä–æ–≤–Ω–µ–π –∑–∞ –æ–ø—Ä–µ–¥–µ–ª–µ–Ω–Ω–æ–µ –≤—Ä–µ–º—è. –° –ø–æ–º–æ—â—å—é –∫–∞–∫–∏—Ö –º–µ—Ç—Ä–∏–∫ –º–æ–∂–Ω–æ –æ—Ü–µ–Ω–∏—Ç—å —Ä–µ–∑—É–ª—å—Ç–∞—Ç—ã –ø–æ—Å–ª–µ–¥–Ω–µ–≥–æ –ø—Ä–æ—à–µ–¥—à–µ–≥–æ —Å–æ–±—ã—Ç–∏—è?

–ü—Ä–µ–¥–ø–æ–ª–æ–∂–∏–º, –≤ –¥—Ä—É–≥–æ–º —Å–æ–±—ã—Ç–∏–∏ –º—ã —É—Å–ª–æ–∂–Ω–∏–ª–∏ –º–µ—Ö–∞–Ω–∏–∫—É —Å–æ–±—ã—Ç–∏–π —Ç–∞–∫, —á—Ç–æ –ø—Ä–∏ –∫–∞–∂–¥–æ–π –Ω–µ—É–¥–∞—á–Ω–æ–π –ø–æ–ø—ã—Ç–∫–µ –≤—ã–ø–æ–ª–Ω–µ–Ω–∏—è —É—Ä–æ–≤–Ω—è –∏–≥—Ä–æ–∫ –±—É–¥–µ—Ç –æ—Ç–∫–∞—Ç—ã–≤–∞—Ç—å—Å—è –Ω–∞ –Ω–µ—Å–∫–æ–ª—å–∫–æ —É—Ä–æ–≤–Ω–µ–π –Ω–∞–∑–∞–¥. –ò–∑–º–µ–Ω–∏—Ç—Å—è –ª–∏ –Ω–∞–±–æ—Ä –º–µ—Ç—Ä–∏–∫ –æ—Ü–µ–Ω–∫–∏ —Ä–µ–∑—É–ª—å—Ç–∞—Ç–∞? –ï—Å–ª–∏ –¥–∞, —Ç–æ –∫–∞–∫?

–î–ª—è –æ—Ü–µ–Ω–∫–∏ —Ä–µ–∑—É–ª—å—Ç–∞—Ç–æ–≤ –ø–æ—Å–ª–µ–¥–Ω–µ–≥–æ –ø—Ä–æ—à–µ–¥—à–µ–≥–æ —Å–æ–±—ã—Ç–∏—è –º–æ–∂–Ω–æ —Ä–∞—Å—Å–º–æ—Ç—Ä–µ—Ç—å  —Å–ª–µ–¥—É—é—â–∏–µ –º–µ—Ç—Ä–∏–∫–∏(—Ç–∞–∫ –∫–∞–∫ –≤ —É—Å–ª–æ–≤–∏—è—Ö –Ω–µ —É–∫–∞–∑–∞–Ω–æ –Ω–∏—á–µ–≥–æ –æ —Ü–µ–Ω–µ –∏ –ø–ª–∞—Ç–µ–∂–∞—Ö –∏–≥—Ä–æ–∫–æ–≤ –≤–æ –≤—Ä–µ–º—è —Å–æ–±—ã—Ç–∏—è, —Ñ–∏–Ω–∞–Ω—Å–æ–≤—ã–µ –º–µ—Ç—Ä–∏–∫–∏ –Ω–µ –±–µ—Ä–µ–º –≤ —Ä–∞—Å—á–µ—Ç):
1. DAU (Daily Active Users) ‚Äî –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ —É–Ω–∏–∫–∞–ª—å–Ω—ã—Ö –∏–≥—Ä–æ–∫–æ–≤ –∑–∞ —Å—É—Ç–∫–∏;
2. Retention - –∫–∞–∫–∞—è –¥–æ–ª—è –∏–≥—Ä–æ–∫–æ–≤ –≤–µ—Ä–Ω—É–ª–∞—Å—å –≤ –ø—Ä–æ–¥—É–∫—Ç –≤–æ –≤—Ä–µ–º—è —Ç–µ–º–∞—Ç–∏—á–µ—Å–∫–æ–≥–æ —Å–æ–±—ã—Ç–∏—è;
3. Churn rate ‚Äî —Å–∫–æ–ª—å–∫–æ –∏–≥—Ä–æ–∫–æ–≤ –ø–µ—Ä–µ—Å—Ç–∞–ª–æ –∏–≥—Ä–∞—Ç—å –∑–∞ –≤—Ä–µ–º—è —Ç–µ–º–∞—Ç–∏—á–µ—Å–∫–æ–≥–æ —Å–æ–±—ã—Ç–∏—è;
4. CSAT (Customer Satisfaction Score)-  —É–¥–æ–≤–ª–µ—Ç–≤–æ—Ä–µ–Ω–Ω–æ—Å—Ç—å –∏–≥—Ä–æ–∫–æ–≤(–º–æ–∂–Ω–æ –ø—Ä–æ–≤–µ—Å—Ç–∏ –æ–ø—Ä–æ—Å).

–ü—Ä–∏ —É—Å–ª–æ–∂–Ω–µ–Ω–∏–∏ –º–µ—Ö–∞–Ω–∏–∫–∏ —Å–æ–±—ã—Ç–∏–π –Ω–∞–±–æ—Ä –º–µ—Ç—Ä–∏–∫ –¥–ª—è –æ—Ü–µ–Ω–∫–∏ —Ä–µ–∑—É–ª—å—Ç–∞—Ç–∞ –Ω–µ –∏–∑–º–µ–Ω–∏—Ç—Å—è. –ù–æ —Ç–∞–∫–∂–µ –º–æ–∂–Ω–æ –ø—Ä–æ–≤–µ—Å—Ç–∏ A/B —Ç–µ—Å—Ç –∏ —Å—Ä–∞–≤–Ω–∏—Ç—å –≤—Å–µ –Ω–∞–ø–∏—Å–∞–Ω–Ω—ã–µ –≤—ã—à–µ –º–µ—Ç—Ä–∏–∫–∏.